build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
common/src/main/resources/data/bountiful/worldgen/processor_list
common/src/main/resources/data/bountiful/bounty_pools
fabric/src/main/resources/resourcepacks
.architectury-transformer/debug.log
logs/latest.log
