# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

libs/
libs/*
docs/
classes/

*.pyc

\.DS_Store

libonly/

*.class

lib/
